/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--size-step-min-2);
  font-family: var(--font-base);
  line-height: 1.4;
  letter-spacing: var(--tracking);
  display: flex;
  flex-direction: column;
  font-weight: var(--font-medium);
  accent-color: var(--color-primary);
}

main {
  flex: auto;
}

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1.2;
  letter-spacing: var(--tracking-s);
  font-weight: var(--font-bold);
  font-family: var(--font-display);
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-2);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 65ch;
}

blockquote {
  border-inline-start: 0.5rem solid var(--color-primary);
  padding: var(--space-m-l);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

strong {
  font-weight: var(--font-extra-bold);
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  margin-block: var(--space-m-l);
  margin-inline-start: 0;
  background-color: var(--color-bg-accent-2);
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
  text-decoration-thickness: 0.08em;
}

a:hover {
  text-decoration: none;
}

:focus-visible {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.preload-transitions * {
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

.roboto-flex {
  font-family: "Roboto Flex";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
