<div
  role="region"
  class="theme-switch | cluster mt-xs"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
  aria-labelledby="theme-switcher-label"
  data-theme-switcher
  hidden
>
  <h5 id="theme-switcher-label">{{ meta.themeSwitch.title }}</h5>
  <button class="button" id="light-theme-toggle" data-theme="light">
    <span>{{ meta.themeSwitch.light }}</span>
  </button>
  <button class="button" id="dark-theme-toggle" data-theme="dark">
    <span>{{ meta.themeSwitch.dark }}</span>
  </button>
</div>
