{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.3/cloudinary-core-shrinkwrap.js" integrity="sha512-KMNn99TvNv6bP4D0H1gNhpVSAf5xds74pMwodUgdMcBUkhDn4Wy0bVXPWs+R/dKJU9HKCQg/9ddC9Ji91OsL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if discover.title %}
        {{ discover.title }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- 4 synchronous js  -->
    <!-- load theme toggle first to avoid color flashing on page load and inline render blocking js  -->
    {% set jsthemetoggle %}{% include "theme-toggle-inline.js" %}{% endset %}

    <script>
      // prettier-ignore
      {{ jsthemetoggle | jsmin | safe }}
    </script>

    <!--  inline base schema -->
    {% include "schemas/base-schema.njk" %}

    <!--  inline blogpost schema  -->
    {% if schema == 'blog' %}{%- include "schemas/blogpost-schema.njk" -%}{% endif %}

    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/fonts/roboto-flex /RobotoFlex-VariableFont_.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/GildaDisplay/gilda-display-v18-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {%- if preloads -%}
      <!-- prettier-ignore -->
      <link rel="preload"
            href="{{ preloads.href }}"
            as="{{ preloads.as }}"
            {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
            {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}

    <!-- defered js  -->

    {% if masonry %}
      <!-- masonry fallback, if true in frontmatter -->
      <script src="/assets/scripts/masonry.js?{{ assetHash }}" defer></script>
    {% endif %}

    {% if youtube %}
      <!-- youtube, if true in frontmatter -->
      <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
      ></script>
    {% endif %}

    {% if meta.navigation.drawerNav %}
      <!-- menu drawer js, if true in meta -->
      <script src="/assets/scripts/nav-drawer.js?{{ assetHash }}" defer></script>
    {% endif %}

    {% if meta.easteregg %}
      <!-- easteregg js, if true in meta -->
      <script src="/assets/scripts/easteregg.js?{{ assetHash }}" defer></script>
    {% endif %}

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
  </body>
  <script type="text/javascript">
      my_breakpoints = function (width){  // width - the current width of the containing element
        return 50 * Math.ceil(width / 50);
      }
      var cl = cloudinary.Cloudinary.new({cloud_name: "paulapplegate-com"}); 
      // replace 'demo' with your cloud name in the line above 
      cl.config({breakpoints:my_breakpoints, responsive_use_breakpoints:"resize"})
      cl.responsive();
  </script>
</html>
