---
title: Built with
permalink: /built-with/index.html
description: 'A list of sites based on / built with Eleventy Excellent. Add yours by submitting a pull request!'
layout: page
grid:
  sizes: "(max-width: 615px) 50vw, 100vw"
	widths: [400, 520]
---

<p>
  A list of sites based on / built with Eleventy Excellent. Add yours by submitting a
  <a
    href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request"
    rel="noopener"
    >pull request!</a
  >
  :)
</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% include 'svg/divider-soft-top.svg' %}

  <section class="section__inner wrapper">
    <h2>Based on, or built with Eleventy Excellent:</h2>
    <ul class="grid" role="list" style="--gutter: var(--space-xl) var(--space-m)">
      <!-- you find tha data for that in src/_data/builtwith.json -->
      {% for site in builtwith | reverse %}

      <li class="grid-card | text-step-min-2">
        {% eleventyImage site.screenshot, site.name, null, "lazy", null, sizes, widths %}

        <p>
          {{ site.description }}
        </p>

        <p>
          <a href="{{ site.link }}">{{ site.link | replace("https://", "") }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </section>

  {% include 'svg/divider-soft-bottom.svg' %}
</article>

